<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">./tests/Integration</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="APP_ENV" value="testing"/>
    <env name="LOG_CHANNEL" value="testing"/>
    <env name="DB_HOST" value="mysql-testing"/>
    <env name="FILESYSTEM_CLOUD" value="testing_cloud"/>
    <env name="SESSION_DRIVER" value="database"/>
    <env name="SESSION_LIFETIME" value="20"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="CACHE_DRIVER" value="redis"/>
    <env name="REDIS_HOST" value="redis-testing"/>
    <env name="GEOCODE_DRIVER" value="stub"/>
    <env name="MAIL_MAILER" value="&quot;null&quot;"/>
    <env name="SMS_DRIVER" value="&quot;null&quot;"/>
    <env name="SCOUT_DRIVER" value="elastic"/>
    <env name="ELASTIC_HOST" value="elasticsearch:9200"/>
    <env name="SCOUT_PREFIX" value="testing_"/>
    <env name="OTP_ENABLED" value="(true)"/>
    <env name="CQC_LOCATION" value="(true)"/>
    <env name="SERVICE_TAGS" value="(true)"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
  </php>
</phpunit>
